@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");

root {
  --bg-color: #f0f0f0;
  --txt-color: #221e22;
  --yellow: #e29f01;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body,
html {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
}

.container {
  height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

[class*="col-"] {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  z-index: 2;
}

.info {
  color: var(--bg-color);
  text-align: right;
  /* padding: 0 80px; */
  position: relative;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 80%;
  /* justify-content: center; */
  align-items: center;
}

.info h1 {
  font-size: 150px;
  font-weight: 900;
  line-height: 140px;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.info p {
  margin: 50px 0;
  text-align: justify;
}

.info button {
  font-size: 30px;
  padding: 10px 50px;
  border-radius: 30px;
  outline: transparent;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.info button:hover {
  background-color: #fff;
  color: #000;
}

.product-info {
  position: absolute;
  width: 100%;
  height: fit-content;
  /* top: 0; */
  left: 0;
  padding: 0 80px;
  pointer-events: none;
  color: whitesmoke;
}

.product-info.active {
  pointer-events: visible;
}

.product-info h1,
.product-info > span,
.product-info p,
.product-info button {
  opacity: 0;
  transition: unset;
}

.product-info.active h1,
.product-info.active > span,
.product-info.active p,
.product-info.active button {
  opacity: 1;
  transition: opacity 1s ease-in-out, transform 1.2s ease-in-out,
    letter-spacing 1.2s ease-in-out, right 1.2s ease-in-out;
}

.product-info h1 {
  text-align: left;
  letter-spacing: 20px;
}

.product-info.active h1 {
  letter-spacing: unset;
}

.product-info > span {
  position: absolute;
  right: 200px;
}

.product-info.active > span {
  right: 80px;
}

.product-info p,
.product-info button {
  transform: translateY(100px);
}

.product-info.active p,
.product-info.active button {
  transform: translateY(0);
}

/* .product-info.active {
    display: block;
} */

.slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  height: 80%;
  overflow: visible;
}

.slide {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: 1s ease-in-out;
  /* opacity: 0; */
  /* transform: translateY(100%); */
  animation: bottom-up 2s;
}

.slide:nth-child(1) {
  z-index: 4;
}

.slide:nth-child(2) {
  width: 80%;
  height: 80%;
  z-index: 2;
  left: 70%;
}

.slide:nth-child(3) {
  width: 60%;
  z-index: 1;
  left: 120%;
  height: 60%;
}

.slide:nth-child(4) {
  width: 60%;
  z-index: 0;
  left: 120%;
  height: 60%;
  transform: scale(0);
}

.img-holder {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.nav {
  z-index: 99;
  color: #fff;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  /* background-color: rebeccapurple; */
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-100%);
  animation: top-down 1.5s forwards;
}

.menu {
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 101;
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(-100%);
  animation: left-to-right 1.5s forwards;
}

.cart {
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(100%);
  animation: right-to-left 1.5s forwards;
}

.sci {
  z-index: 98;
  color: #fff;
  display: flex;
  position: fixed;
  right: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  opacity: 0;
  transform: translateX(100%);
  animation: right-to-left 1.5s forwards;
}

.sci i {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sci i:hover {
  color: var(--yellow);
}

.fashion {
  z-index: 98;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  /* transform: translateX(-100%); */
  animation: left-to-right 1.5s forwards;
}

.copyright {
  z-index: 98;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  font-size: 13px;
}

a {
  color: unset;
}

.slide-control {
  z-index: 98;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  /* animation: zoom 2s ease infinite; */
}

.slide-control:hover {
  background-color: #fff;
  color: #000;
}

.slide-control:hover i {
  /* animation: bounce-left 2s ease infinite; */
  color: #000;
}

.nav-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 80px;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.nav-overlay.active {
  width: 100%;
}

.nav-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-overlay a:hover,
.nav-overlay a:focus {
  color: #f1f1f1;
}

.nav-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.hamburger {
  position: relative;
  cursor: pointer;
}

.hamburger-btn {
  cursor: pointer;
  z-index: 1;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  border-radius: 0.5rem;
  background-color: white;
  transition: 0.4s;
}

.hamburger::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
}

.hamburger::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
}

.hamburger.active {
  background-color: transparent;
}

.hamburger.active::before {
  transform-origin: top left;
  transform: rotate(45deg);
  left: 6px;
}

.hamburger.active::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  left: 6px;
}

/* ANIMATION */

@keyframes bounce-left {
  0% {
    transform: translateX(-10px);
  }

  30% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes top-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottom-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoom {
  0% {
    width: 30px;
    height: 30px;
  }

  100% {
    width: 50px;
    height: 50px;
  }
}

/* RESPONSIVE */

.col-5 {
  width: 41.66%;
}

.col-7 {
  width: 58.33%;
}

@media only screen and (max-width: 1440px) {
  .info {
    align-items: flex-start;
  }

  .info h1 {
    /* font-size: 110px; */
    text-align: left;
  }

  .product-info {
    padding: 0 50px;
  }

  .slider {
    width: 50%;
    height: 60%;
    transform: translateY(20%);
  }
}

@media only screen and (max-width: 1024px) {
  .info {
    align-items: flex-start;
  }

  .info h1 {
    font-size: 110px;
    text-align: left;
  }

  .info p {
    font-size: 14px;
  }

  .info button {
    font-size: 20px;
    padding: 10px 20px;
  }

  .product-info {
    padding: 0 20px;
  }

  .slider {
    width: 80%;
    height: 50%;
    transform: translateY(20%);
  }
}

@media only screen and (max-width: 768px) {
  .info {
    align-items: flex-start;
  }

  .info h1 {
    font-size: 80px;
    line-height: 80px;
    text-align: left;
  }

  .info p {
    font-size: 14px;
  }

  .info button {
    font-size: 20px;
    padding: 10px 20px;
  }

  .product-info {
    padding: 0 20px;
  }

  .col-7 {
    display: flex;
    align-items: flex-start;
  }

  .slider {
    width: 80%;
    height: 80%;
    transform: translateY(20%);
  }
}

@media only screen and (max-width: 600px) {
  .col-5,
  .col-7 {
    width: 100%;
    height: 50%;
  }

  .container {
    flex-direction: column-reverse;
  }

  .nav {
    top: 0;
  }

  .info {
    align-items: flex-start;
  }

  .info h1 {
    font-size: 63px;
    line-height: 60px;
    text-align: left;
  }

  .info p {
    font-size: 12px;
  }

  .info button {
    font-size: 20px;
    padding: 10px 20px;
  }

  .product-info {
    padding: 0 20px;
  }

  .col-7 {
    display: flex;
    align-items: flex-start;
  }

  .slider {
    width: 80%;
    height: 80%;
    transform: translateY(20%);
    padding: 50px;
  }
}
